<mat-toolbar color="primary" class="navbar-container">
  <span routerLink="/" class="brand-logo">{{ title }}</span>

  <span class="spacer"></span>

  <div class="nav-links">
    
    
    <!-- <button mat-button routerLink="/settings" routerLinkActive="active-link">
      <mat-icon>settings</mat-icon>
      Settings
    </button> -->

    @if (auth.isLoggedIn()) {
        @if (auth.getRole() === 'ARTIST') {
            <button mat-button routerLink="/dashboard" routerLinkActive="active-link">
                <mat-icon>dashboard</mat-icon>Dashboard
            </button>
        }

        @if (auth.getRole() === 'CUSTOMER') {
          <button mat-button routerLink="/my-orders" routerLinkActive="active-link">
              <mat-icon>shopping_cart_checkout</mat-icon>My orders
          </button>
          
        }
        
        <button mat-icon-button (click)="logOut()" aria-label="Logout">
            <mat-icon>logout</mat-icon>
        </button>
    }
    @else {
        <a matButton [routerLink]="['/login']">Log In</a>

    }
    
  </div>
</mat-toolbar>