@if (artwork$ | async; as artwork) {
    <div class="order-container">
      <h2>Shipping & Contact Details</h2>
      <form [formGroup]="orderForm" (ngSubmit)="onSubmit()">
        @if (artwork.type === 'PHYSICAL') {
            <section>
                <h3>Contact Information</h3>
                <mat-form-field>
                <mat-label for="fullName">Full Name</mat-label>
                <input matInput id="fullName" formControlName="fullName"/>
                @if (orderForm.get('fullName')?.invalid) {
                    <mat-error>Full name must be at least 3 characters</mat-error>
                }
                </mat-form-field>
                <mat-form-field>
                    <mat-label for="phone">Phone Number</mat-label>
                    <input matInput id="phone" type="tel" formControlName="phone">
                </mat-form-field>
            </section>

            <section>
            <h3>Shipping Address</h3>
            <mat-form-field>
                <mat-label for="address">Full Address</mat-label>
                <input matInput type="text" formControlName="address">
            </mat-form-field>
            <mat-form-field>
                <mat-label for="city">City</mat-label>
                <input matInput type="text" formControlName="city">
            </mat-form-field>
            <mat-form-field>
                <mat-label for="zipCode">Zip Code</mat-label>
                <input matInput type="text" formControlName="zipCode">
            </mat-form-field>
            <mat-form-field>
                <mat-label for="country">Country</mat-label>
                <input matInput type="text" formControlName="country" placeholder="Country">
            </mat-form-field>
            </section>
        }

        <div class="order-summary">
          <p>Total: <strong>${{ artwork.price }}</strong></p>
          <button matButton="tonal" type="submit" [disabled]="orderForm.invalid && artwork.type === 'PHYSICAL'">Buy</button>
        </div>
      </form>
    </div>
}
